*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body{
    background-color: #212529;
}

.source{
    font-family: "Source Code Pro";
}

.open{
    font-family: "Open Sans";
}

.container0{
    width: 1300px;
    margin-left: 300px;
    background-color: #f3f6ff;
}

.container1{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 20px;

    padding-left: 60px;
    padding-right: 60px;
}

.cabecalho1{
    color: #ff6f61;
}

.container2{
    display: flex;
    justify-content: space-between;
    background-color: #ff6f61;
    width: 100%;
    height: 30px;
    align-items: center;

    padding-left: 60px;
    padding-right: 60px;
}

.cabecalho2_1{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 680px;
    align-items: center;
}

    .cabecalho2_1_1{
        justify-content: flex-start;
    }

        #form2_1{
            border: none;
            width: 130px;
            background-color: #ff6f61;
            color: white;
            font-size: 16px;
        }

    #home{
        color: black;
    }

.cabecalho2_2{
    color: white;
}

    #form2_2{
        border: none;
        width: 150px;
        background-color: #ff6f61;
        color: white;
        font-size: 16px
    }

.container3{
    display: flex;
    background-color: white;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;

    padding-left: 60px;
    padding-right: 60px;
}

.cabecalho3_1{
    margin-right: 42px;
}

    #search{
        height: 30px;
        border-color: #ff6f61;
        border-radius: 5px;
        width: 573.5px;
        height: 45px;
        margin-right: 115px;
        padding-left: 10px;
        font-size: 20px;
    }

.cabecalho3_3{
    display: flex;
    align-items: center;
}

    .cabecalho3_3_1{
        width: 65px;
        height: 45px;
        border-radius: 5px;
        border: solid 1px #ff6f61;
        margin-right: 15px; 
        align-items: center;

    }

    .fa-heart{
        color: #ff6f61; 
        padding: 12px 7px 7px 9px;
    }

    .fa-cart-shopping{
        color: #ff6f61; 
        padding: 12px 7px 7px 9px;
    }

    .cabecalho3_3_2{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px #ff6f61;        
    }

.container4{
    display: flex;
    background-color: #f3f6ff;
    width: 100%;
    height: 425px;

    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    justify-content: space-between;
}

    .gicon{
        color: #ff6f61;
    }

    .cabecalho4_1{
        background-color: white;
        display: flex;
        width: 250px;
        height: 382.33px;
        flex-wrap: wrap;
        margin-right: 42px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .borda{
        padding-top: 15px;
        border: solid 1px #f3f6ff;
        width: 100%;
        padding-left: 20px;
        height: 48px;
    }

    .cabecalho4_2{
        width: 573.5px;
        background-image: url(imgs/slider-3.jpg);
        background-repeat: no-repeat;
        text-shadow: 2px 2px 2px #1f1f1f; 
        background-size: contain;
        background-position: center center; 
        text-align: center;    
         
        padding: 200px 100px 230px 100px;
    }

        .cabecalho4_2_1{
            height: 250px;
            background-size: 200px 0px;
            background-color: #ff6f61;
            opacity: 0.7;
        }

            .cabecalho4_2_1_1{
                opacity: 1;
                padding-top: 50px;
            }

        #text4{
            color: white;
            margin-bottom: 25px;
            padding-top: 40px;
        }

        .botao4{
            background-color: white;
            color: #ff6f61;
            border: none;
            border-radius: 3px;
        }
    
    .cabecalho4_3{
        width: 250px;
    }

    .container5{
        display: flex;
        justify-content: space-between;
        height: 90px;
        background-color: white;

        padding-left: 60px;
        padding-right: 60px;
    }

.container6{
    display: flex;
    background-color: #f3f6ff;
    justify-content: space-between;

    padding-left: 60px;
    padding-right: 60px;
}

    .icon6{
        color: #ff6f61;
        font-size: 70px;
    }

    .cab6{
        margin-top: 10px;
        margin-bottom: 8px;
    }

    .cabecalho6_1{
        background-color: white;
        margin-top:20px;
        margin-bottom: 20px;
        text-align: center;
        align-items: end;

        width: 250px;
        height: 200px;
        padding: 20px 20px 20px 20px;
        
    }

    .container7{
        display: flex;
        background-color: #f3f6ff;
        padding-left: 60px;
        padding-right: 60px;
    }

        .cabecalho7{
            width: 100%;
        }

        

.container8{
    background-color: #f3f6ff;
}

    .cabecalho8_1{
        width: 100%;
        height: 90px;
        margin-top: 20px;
        background-color: #ff6f61;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        padding-left: 60px;
        padding-right: 60px;
    }

        #cabecalho8_1_1{
            border: solid 1px white;
            padding-top: 5px;
            text-align: center;
            width: 250px;
            height: 50px;
            border-radius: 5px;
        }

        .text8{
            font-size: 40px;
        }

        #submit8{
            font-size: 20px;
        }

    .cabecalho8_2{
        width: 1190px;
        height: 70px;
        margin-top: 20px;
        margin-left: 55px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
        background-color: white;
        color: #ff6f61;
    }

    .cabecalho8_2_1{
        display: flex;
        
    }
        .cabecalho8_2_1_1{
    
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px #ff6f61;
        margin-right: 15px;
        text-align: center;
        padding-top: 5px;
        }

.container9{
width: 100%;
background-color: #f3f6ff;
align-items: center;
display: flex;
justify-content: center;

padding-left: 60px;
padding-right: 60px;
}

    .cabecalho9_1{
        margin-top: 20px;
        }

    .marge{
        margin-right: 30px;
    }

    .size{
        width: 275px;
    }

        .cabecalho9_1_1{
        width: 275px;
        height: 80px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: black;
        padding: 10px;
        }

        .cabecalho9_1_3{
            width: 275px;
            height: 80px;
            color: white;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
    
            background-color: black;
            padding: 10px;
        }

            .cabecalho9_1_3_1{
                display: flex;
                justify-content: center;
            }
            
            .star{
                color: #ff6f61;
                margin-top: 8px;
            }

            .cabecalho9_1_1_1{
                display: flex;
                padding-left: 15px;
            }

            .cabecalho9_1_1_2{
                padding-right: 10px;
            }

            .botao9{
                background-color: #ff6f61;
                border-radius: 4px;
                border: none;
                width: 130px;
                height: 40px;
            }

            .botao09{
                color: black;
                padding-left: none;
                font-size: 15px;
            }

    .redline2{
        display: flex;
    }

    #search2{
        height: 40px;
        border-color: #ff6f61;
        padding-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 300px;
        border: none;
        font-size: 16px;
    }

    #submit{
        width: 80px;
        text-align: center;
        padding-top: 7px;
        border: solid 1px white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.container10{
    background-color: #f3f6ff;
    display: flex;

    margin-left: 60px;
    margin-right: 60px;
}

    .cabecalho10{
    display: flex;
    margin-top: 40px;
    background-color: white;
    width: 575px;
    margin-bottom: 20px;
    }

    .marge10{
        margin-right: 30px;
    }

    .cabecalho10_1{
        width: 600px;
    }

        .padd10{
            padding: 15px 15px 15px 0px;
        }

        .cabecalho10_2_3{
            justify-content: flex-start;
        }

        .star10{
            color: #ff6f61;
            margin-top: 8px;
        }

        .p10{
            margin-top: 5px;
            color: #888888;
        }

        .text10{
            color: #666666;
        }

.container11{
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
}

    .boxrede11{
        display: flex;
    }

        .redes11{
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #888888;
            margin-right: 15px;
            text-align: center;
            padding-top: 7px;
            margin-top: 20px;
        }

    .cabecalho11_1{
        width: 300px;
        height: 200px;
        padding: 25px 5px 5px 5px;
        background-color: white;
    }

        .sr11{
            font-size: 12px;
        }

    .cabecalho111{
        margin-left: 60px;
    }

    .cabecalho112{
        margin-right: 60px;
    }

    .p11_1{
        margin-top: 15px;
    }

    .p11{
        margin-top: 10px;
    }

.container12{
    display: flex;
    background-color: white;
    width: 100%;
    height: 80px;
}

    .cabecalho12_1{
        border-top: solid 1px #888888;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-around;

        margin-left: 60px;
        margin-right: 60px;
    }

    .cabecalho12{
        display: flex;
        margin-top: 20px;
        height: 25px;

        margin-left: 60px;
    }

        .margeR12{
            margin-right: 10px;
        }

        .cabecalho12_2{
            display: flex;
        }

.container13{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 75px;

    padding-left: 60px;
    padding-right: 60px;
}

    .cabecalho13{
        display: flex;
    }

        .text13{
            color: white;
        }

        .text13_1{
            color: #ff6f61;
        }

    .cabecalho13_1{
        display: flex;
    }
    
